/***************************************************************/
/* Trabajo 1ª ev. Lenguaje de Marcas & Sistemas Informáticos   */
/* Autor: Juan Manuel Gutiérrez                                */
/* Versión: 1.0 16/11/22                                       */
/***************************************************************/

/*
***** Assets *****
Colores:
    Azul:    006DCC
    Naranja: ED771D
    Púrpura: 712F79
    Negro:   080708
    Blanco:  FCEADE

Fuentes:
Principal (Hero Section): Salsa // 
            Petit Formal Script // Sarina // Lily Script one
Secundaria: Noto Serif
Terciaria:  Overpass
*/

:root {
    --blanco: #fceade;
    --negro: #080708;
    --azul: #00427c;
    --naranja: #ed771d;
    --purpura: #712f79;
}

@font-face {
    font-family: SalsaRegular;
    src: url("../fonts/Salsa/Salsa-Regular.ttf");
}
@font-face {
    font-family: NotoSerif;
    src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
    font-family: Overpass;
    src: url("../fonts/Overpass/Overpass-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.4s;
}

body {
    font-family: Overpass;
}

#header {
    font-family: NotoSerif;
    padding: 10px;
    background-color: var(--purpura);
    color: var(--blanco);
    text-align: center;
}
#navbar {
    align-items: center;
    background-color: var(--naranja);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#navbar button {
    font-family: NotoSerif;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--naranja);
    text-decoration: none;
    padding: 15px;
    border: 0;
    box-shadow: inset 0 0 0 0 var(--blanco);
    cursor: pointer;
}
#navbar button:hover {
    color: var(--purpura);
    box-shadow: inset 0 -50px var(--blanco);
    border-radius: 15px 15px 0px 0px;
}

#wrapper {
    width: 80%;
    margin: auto;
}

#hero-section {
    position: relative;
    align-items: center;
    animation: hero-section-carousel 20s infinite;
    background-blend-mode: color;
    background-image: url("../images/girl-with-red-hat-Jcuz3_e1moQ-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: SalsaRegular;
    font-size: 6rem;
    height: 70vh;
    justify-content: center;
    margin-top: 0px;
    text-shadow: 0px 0px 15px #000a;
}
#hero-section button {
    font-family: NotoSerif;
    color: var(--blanco);
    background-color: var(--azul);
    text-decoration: none;
    padding: 15px;
    border: 0;
    box-shadow: inset 0 0 0 0 #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
}
#hero-section button:hover {
    color: var(--purpura);
    box-shadow: inset 0 50px var(--blanco);
}
#filtro{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:70vh;
    background-color:var(--naranja);
    opacity: 50%;
}
.top{
    z-index:100;
}

.subtitle {
    font-family: NotoSerif;
    color: var(--azul);
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--negro);
    border-bottom: 1px solid var(--negro);
    margin: 20px;
}

#what-are {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#what-are section {
    height: 200px;
    width: 50%;
}

#kind-of {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#kind-of section {
    height: 200px;
    width: 33.3%;
}

.foto-container {
    position: relative;
    width: 45%;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #0009;
    margin: 20px;
}
.foto {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    filter: grayscale(100%);
}
.foto:hover {
    filter: grayscale(0%);
    transform: scale(1.1) rotate(-2deg);
}

#working {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#working section {
    height: 200px;
    width: 50%;
}

#installation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#installation section {
    height: 300px;
    width: 33.33%;
}

#drivers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#drivers section {
    height: 300px;
    width: 50%;
}

#marks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#marks section {
    height: 100px;
    width: 16.66%;
}

#where {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#where section {
    height: 200px;
    width: 33.33%;
}

#opinion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#opinion section {
    height: 400px;
    width: 50%;
}

#bibliography {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#bibliography section {
    height: 400px;
    width: 50%;
}

#fixed {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 3rem;
    height: 50px;
    width: 50px;
}
#fixed i {
    color: var(--azul);
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

/* ********** KEYFRAMES ANIMATIONS ********** */
@keyframes hero-section-carousel {
    0% {
        background-image: url("../images/girl-with-red-hat-Jcuz3_e1moQ-unsplash.jpg");
    }
    23% {
        background-image: url("../images/girl-with-red-hat-Jcuz3_e1moQ-unsplash.jpg");
    }
    25% {
        background-image: url("../images/stefan-moertl-MZSX2R6KKEw-unsplash.jpg");
    }
    48% {
        background-image: url("../images/stefan-moertl-MZSX2R6KKEw-unsplash.jpg");
    }
    50% {
        background-image: url("../images/kenny-eliason-38XhGPwzI3U-unsplash.jpg");
    }
    73% {
        background-image: url("../images/kenny-eliason-38XhGPwzI3U-unsplash.jpg");
    }
    75% {
        background-image: url("../images/stefan-moertl-mG1mJ7bSWXw-unsplash.jpg");
    }
    98% {
        background-image: url("../images/stefan-moertl-mG1mJ7bSWXw-unsplash.jpg");
    }
    100% {
        background-image: url("../images/girl-with-red-hat-Jcuz3_e1moQ-unsplash.jpg");
    }
}

/* ********** MEDIA QUERIES ********** */
@media screen and (width<900px) {
    #navbar button {
        padding: 5px;
    }
    #hero-section {
        font-size: 3rem;
    }
}
@media screen and (width<600px) {
    #header {
        display: none;
    }
    #hero-section {
        font-size: 2rem;
    }
}
