/***************************************************************/
/* Trabajo 1ª ev. Lenguaje de Marcas & Sistemas Informáticos   */
/* Autor: Juan Manuel Gutiérrez                                */
/* Versión: 1.0 16/11/22                                       */
/***************************************************************/

/*
***** Assets *****
Colores:
    --white: #fafafa;
    --black: #080708;
    --blue: #006dcc;
    --orange: #ed771d;
    --purple: #712f79;
    --grey: #aaa;

Fuentes:
Título: Roboto Slab
Texto:  Overpass
*/

@font-face {
    font-family: Title;
    src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
    font-family: normalText;
    src: url("../fonts/Overpass/Overpass-VariableFont_wght.ttf");
}

:root {
    --white: #fafafa;
    --black: #080708;
    --blue: #006dcc;
    --orange: #ed771d;
    --purple: #712f79;
    --grey: #aaa;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.4s;
    /*     border: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: normalText;
    font-size: 0.9rem;
    flex-grow: 1;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    margin: 20px;
}

/* ********** HEADER SECTION ********** */
#header {
    font-family: Title;
    padding: 10px;
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
}

/* ********** NAVBAR SECTION ********** */
#navbar {
    align-items: center;
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#navbar button {
    font-family: normalText;
    font-weight: bold;
    color: var(--white);
    background-color: var(--orange);
    text-decoration: none;
    padding: 15px;
    border: 0;
    box-shadow: inset 0 0 0 0 var(--white);
    cursor: pointer;
}
#navbar button:hover {
    color: var(--purple);
    box-shadow: inset 0 -50px var(--white);
    border-radius: 15px 15px 0px 0px;
}
/* mobile */
#control-menu {
    display: none;
    flex-direction: column;
    width: 100%;
}
#control-menu i {
    text-align: right;
}
#mobile-options {
    display: block;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 0px;
    transition: 1s;
    background-color: var(--purple);
}
#mobile-options button,
#navbar-mobile i {
    padding: 10px 50px;
    width: 100%;
    background-color: var(--orange);
    color: white;
    border: none;
    font-size: 1.1rem;
}
#navbar-mobile i {
    background-color: var(--purple);
}

/* ********** HERO SECTION ********** */
#hero-section {
    position: relative;
    align-items: center;
    animation: hero-section-carousel 20s infinite;
    background-blend-mode: color;
    background-image: url("../images/stefan-moertl-MZSX2R6KKEw-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-family: Title;
    font-size: 6rem;
    height: 90vh;
    justify-content: space-evenly;
    margin-top: 0px;
    text-shadow: 0px 0px 15px #000a;
}

#hero-section button {
    background-color: var(--blue);
    border-radius: 50px;
    border: 1px solid var(--purple);
    box-shadow: inset 0 0 0 0 var(--white);
    color: var(--white);
    cursor: pointer;
    font-family: Title;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
}

#hero-section button:hover {
    color: var(--purple);
    box-shadow: inset 0 50px var(--white);
}
#filtro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: var(--purple);
    opacity: 50%;
}

.top {
    z-index: 100;
}

.subtitle {
    font-family: Title;
    color: var(--blue);
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    margin: 20px;
}

p {
    padding: 10px;
}

/* ********** WRAPPER ********** */
#wrapper {
    width: 80%;
    margin: auto;
}

/* ********** WHAT ARE SECTION ********** */
#what-are .foto-container {
    position: relative;
    width: 50%;
    height: 70vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #0005;
    margin: 20px 0px;
}

.foto {
    object-position: center;
    object-fit: cover;
    filter: grayscale(70%);
}
.foto:hover {
    filter: grayscale(0%);
    transform: scale(1.1) translateY(-3%);
}

#what-are .foto {
    position: absolute;
    width: 100%;
    height: 100%;
}

#what-are {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#what-are div {
    width: 45%;
}

/* ********** KIND OF SECTION ********** */
#kind-of {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 20px;
}
#kind-of div {
    width: 100%;
}
.kind-of-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px;
    padding-bottom: 10px;
}
.kind-of-card:hover {
    transform: scale(1.05) translateY(-10px);
    box-shadow: 0px 5px 15px var(--grey);
}
#kind-of h4 {
    font-family: Title;
    padding: 10px;
    width: 100%;
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
}
#kind-of h2,
#kind-of h3 {
    font-family: Title;
    color: var(--purple);
    padding: 10px;
    text-align: center;
}

#kind-of .foto-container {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    margin: 0px;
}
#kind-of .foto {
    position: absolute;
    width: 100%;
    height: 100%;
}
#kind-of p {
    padding: 10px 20px;
    color: var(--purple);
}

/* modal */
dialog {
    margin: auto;
    max-width: 70%;
    border-radius: 10px;
    padding: 20px;
}
dialog::backdrop {
    background: #712f7999;
}
dialog ol,
dialog li {
    margin: 0px 20px;
}
dialog img,
dialog iframe {
    width: 70%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* modal */

#kind-of button {
    background-color: var(--blue);
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 0 var(--white);
    color: var(--white);
    cursor: pointer;
    font-family: Title;
    margin-top: 15px;
    padding: 15px;
    text-decoration: none;
}
#kind-of button:hover {
    color: var(--white);
    box-shadow: inset 150px 0px var(--orange);
}
#kind-of .close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: 10px;
    height: 20px;
    width: 20px;

    border-radius: 50%;
}
.kind-of-modal {
    border: 0px;
    width: 75%;
    padding: 20px;
    box-shadow: 0px 0px 25px #0008;
}
.kind-of-modal::-webkit-scrollbar {
    display: none;
}

/* ********** INSTALLATION SECTION ********** */
#installation-section {
    position: relative;
    background-image: url("../images/background-installation.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 10%;
    color: var(--white);
}
#installation-title {
    backdrop-filter: blur(15px);
    color: var(--white);
    border-color: var(--purple);
}
.installation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;
}
.installation section {
    backdrop-filter: blur(15px);
    border-radius: 5px;
    border: 1px solid var(--purple);
    padding: 10px 10px;
    margin: 5px;
}
.installation h2 {
    padding: 10px;
}

/* ********** MARKS SECTION ********** */
#marks {
    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    padding: 0% 10%;
}
#marks section {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
#marks section:hover {
    transform: scale(1.5);
}
#marks img {
    padding: 5px 20px;
    max-width: 170px;
}

/* ********** WHERE SECTION ********** */
#where {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5%;
    text-align: center;
    color: var(--black);
}
#where section {
    margin: 5px;
    width: 20%;
}
.where-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 5px var(--grey);
    border-radius: 10px;
    overflow: hidden;
    margin: 0px;
    padding-bottom: 10px;
}
.where-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px var(--grey);
}
#where div {
    margin: 0px;
    padding: 0px;
}
#where .photo {
    height: 40vh;
    overflow: hidden;
}
#where img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#where .name {
    background-color: var(--purple);
    color: white;
    font-family: Title;
    font-size: 1.1rem;
    padding: 0px 10px;
    min-height: 10vh;
}
#where .stars {
    padding: 15px;
}
#where .stars i {
    color: var(--orange);
}
#where .shop button {
    width: 80%;
    font-family: normalText;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
}
#where .shop button:hover {
    background-color: var(--purple);
    font-weight: bold;
    color: var(--white);
}
#where .shop i {
    font-size: 1.3rem;
    padding: 5px;
}
#where .price {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--purple);
    padding: 10px;
}
#where sup {
    font-size: 0.7rem;
}
/* ********** OPINION SECTION ********** */
#opinion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    color: var(--black);
    background: linear-gradient(227deg, #92c8f7, #fbbf92, #c996d0, #c9e17f);
    background-size: 800% 800%;
    -webkit-animation: opinion-animation 60s ease infinite;
    animation: opinion-animation 60s ease infinite;
}
#opinion section {
    width: 70%;
    padding: 20px;
}
#opinion li {
    list-style: none;
    margin-left: 5%;
}
#opinion .fa-check {
    color: green;
}
#opinion .fa-times {
    color: red;
}
/* ********** BIBLIOGRAPHY SECTION ********** */
#bibliography {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: top;
    min-height: 20vh;
}
#bibliography section {
    width: 50%;
    padding: 1% 5%;
    text-align: center;
}
#bibliography summary {
    font-size: 1.3rem;
    color: var(--purple);
}
#bibliography li {
    list-style: none;
}
#bibliography button {
    border: none;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
    box-shadow: inset 0 0 0 0 var(--purple);
    padding: 3px;
    width: 90%;
    margin: 5px;
    border: 1px solid var(--purple);
    cursor: pointer;
    transition: 0.5s;
}
#bibliography button:hover {
    box-shadow: inset 0px 30px var(--purple);
    border-radius: 50px;
    width: 100%;
}
#bibliography a {
    color: var(--blue);
}
#bibliography a:hover {
    color: var(--orange);
}
#bibliography p {
    padding: 3px;
}
details > summary {
    list-style-type: none;
}
details[open] > summary {
    list-style-type: none;
}
details > summary::before {
    content: "\f0a9";
    margin: 5px;
    font-family: FontAwesome;
}
details[open] > summary::before {
    content: "\f0ab";
    margin: 5px;
    font-family: FontAwesome;
}

/* ********** TO-UP BUTTON ********** */
#to-up {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 1%;
    font-size: 3rem;
    height: 50px;
    width: 50px;
    z-index: 1000;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
        -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
#to-up i {
    color: var(--purple);
}

/* ********** FOOTER SECTION ********** */
footer {
    align-items: center;
    background-color: var(--purple);
    color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer div {
    margin: 10px;
    text-align: center;
}
footer a {
    border-radius: 50px;
    box-shadow: inset 0px 0px var(--white);
    margin: 5px;
    padding: 5px 10px;
}
footer a:hover {
    box-shadow: inset 0px -30px var(--white);
    color: var(--purple);
}

/* ********** KEYFRAMES ANIMATIONS ********** */
@keyframes hero-section-carousel {
    0% {
        background-image: url("../images/hero1.jpg");
    }

    23% {
        background-image: url("../images/hero1.jpg");
    }

    25% {
        background-image: url("../images/hero2.jpg");
    }

    48% {
        background-image: url("../images/hero2.jpg");
    }

    50% {
        background-image: url("../images/hero3.jpg");
    }

    73% {
        background-image: url("../images/hero3.jpg");
    }

    75% {
        background-image: url("../images/hero4.jpg");
    }

    98% {
        background-image: url("../images/hero4.jpg");
    }

    100% {
        background-image: url("../images/hero1.jpg");
    }
}
@-webkit-keyframes opinion-animation {
    0% {
        background-position: 0% 92%;
    }
    50% {
        background-position: 100% 9%;
    }
    100% {
        background-position: 0% 92%;
    }
}
@keyframes opinion-animation {
    0% {
        background-position: 0% 92%;
    }
    50% {
        background-position: 100% 9%;
    }
    100% {
        background-position: 0% 92%;
    }
}

/* ********** MEDIA QUERIES ********** */
@media screen and (width<900px) {
    #navbar button {
        padding: 5px;
    }
    #hero-section {
        font-size: 4rem;
    }
    #filtro {
        height: 90vh;
    }
    #wrapper {
        width: 90%;
    }
    #kind-of {
        grid-template-columns: 50% 50%;
    }
    .kind-of-modal {
        width: 90%;
    }
    dialog {
        max-width: 100%;
    }
    dialog img {
        width: 100%;
    }
    dialog iframe {
        width: 90%;
        height: fit-content;
    }
    #where section {
        width: 45%;
    }
    #installation-section {
        padding: 20px;
    }
    #opinion section {
        width: 100%;
        padding: 20px;
    }
    #opinion li {
        padding: 5px;
        margin-left: 0%;
    }
    #bibliography {
        flex-direction: column;
    }
    #bibliography section {
        width: 100%;
    }
}

@media screen and (width<600px) {
    #header {
        display: none;
    }
    #navbar {
        display: none;
    }
    #control-menu {
        display: flex;
    }
    #hero-section {
        font-size: 10vw;
    }
    .foto-container {
        width: 100%;
    }
    #what-are .foto-container {
        width: 100%;
        margin: 20px 0px;
    }
    #what-are div {
        width: 100%;
    }
    #kind-of {
        grid-template-columns: 100%;
    }
    #marks {
        height: auto;
        padding: 20px;
    }
    #marks section {
        width: 100%;
    }
    #marks a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    #marks a {
        width: 90%;
    }
    #marks img {
        padding: 10px;
        width: 100%;
    }
    #where section {
        width: 90%;
        padding: 20px;
    }
    footer a {
        display: block;
    }
}
